<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="vstore.netease.com.ugallery">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
        >
        <activity android:name=".activity.ActivitySelectImage"/>
        <activity android:name="com.yalantis.ucrop.UCropActivity" />

    </application>

</manifest>
